html, body {
   height: 100%;
   padding: 0;
   margin: 0;
   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 12px;
   line-height: 1.5;
   color: #FFFFFF;
   word-break: break-word;
}

div {
   position: relative;
   display: block;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar {
   background: none;
   width: 10px;
}

::-webkit-scrollbar-thumb {
   background: rgba(0, 0, 0, 0.8);
}

.color1 {
   background: #24C22E;
}

.color2 {
   background: #68D724;
}

.color3 {
   background: #24ADC2;
}

.color4 {
   background: #733626;
}

.color5 {
   background: #7824C2;
}

.color6 {
   background: #989898;
}

.color7 {
   background: #C32424;
}

.color8 {
   background: #C224BD;
}

#map {
   width: 5100px;
   height: 100%;
}

#map > div {
   width: 96px;
   float: left;
   border: 2px solid #333333;
   overflow: hidden;
}

#map > div:before {
   content: attr(data-coords);
   display: block;
   text-align: center;
   padding: 20px 0;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
}

#map > div:not([data-name=""]):hover:before {
   content: attr(data-name);
}

#map > div[data-highlight="1"]:after {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   display: block;
   width: 100%;
   height: 100%;
   background: rgba(255, 255, 255, 0.6);
   border-top: 4px solid #FFFF00;
}

#map > div > div.etop,
#map > div > div.ebottom,
#map > div > div.eleft,
#map > div > div.eright {
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   border-style: dashed;
   border-color: #222;
   border-width: 0px;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
}

#map > div > div.etop,
#map > div > div.ebottom,
   width: 50%;
   margin: 0 25%;
}

#map > div > div.eleft,
#map > div > div.eright,
   height: 50%;
   margin: 25% 0;
}

#map > div > div.etop {
   border-top-width: 4px;
}

#map > div > div.ebottom {
   border-bottom-width: 4px;
}

#map > div > div.eleft {
   border-left-width: 4px;
}

#map > div > div.eright {
   border-right-width: 4px;
}
